h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.25;
}

.btn-history{
    background-color: silver;
}

#dashboard-header{
    background-color: midnightblue;
    background: linear-gradient(0.25turn, #0d6efd, midnightblue);
}

#current-icon{
    position: relative;
    top: -5px;
}

#tooltip{
    color:grey;
    font-size: xx-small;
    position: relative;
    top: 12.5px;
    left:5px;
}

#forecast .card{
    background-color: midnightblue;
}